.billSuccess {
    position: fixed;
    background-color: $color-f8;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    &__box {
        background-color: $color-white;
        clip-path: ellipse(50% 60% at 50% 50%);
        width: 60vw;
        height: 100%;
        padding: 5rem 10rem;
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;

        @media only screen and (max-width: $bp-medium) {
            clip-path: none;
            width: 98vw;
            padding: 2rem 1rem;
        }
    }
    &__content {
        display: grid;
        align-items: center;
        justify-items: center;
    }
    &__addOn {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
        background-color: $color-sky-blue-light;
        @extend %border__radius-08;
        padding: 1rem 2rem;
        margin: 2rem 0;
    }
}
